header{
    padding:10px;
}
.espacioBotones{
    margin:0 auto !important;
}
#botones{
    padding: 24px;
    width: 336px;
    height:67px;
    border-radius:24px;
    color: #0A3871;
    background-color: #E5E5E5;
    border-color: #0A3871;
    cursor: pointer;
    transition: all 0.5s;
    margin:0 10px;
    font-size:16px;
    
}
#botones:hover{
    background-color: #0A3871;
    color: #E5E5E5;
}
.boton-en-juego{
    display: none;
}
footer{
margin-top: 20px;
text-align: center;
background-color:
#0A3871; 
color:#E5E5E5;
padding: 10px;
font-size: 20px;
}
footer img{
    width: 30px;
    padding:5px 20px 0px 0;
}
.canvas-en-juego{
    display:none;
}